*{
    margin:0;
    border: border-box;
}


.navbar{
    height: 50px;
    width: max;
    color: wheat;
    background-color:black;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.option{
     width: 80%;
     /* height: 50px; */
    text-decoration: none;

}
.option p{
    display: inline;
    margin-left: 50px;
    height: max-content;
}
.username{
    display: flex;
}

.username p{
    margin-left: 3px;
}

.man{
    height: 600px;
    width: max;
    background-color: rgb(177, 215, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wigt{
    height: 400px;
    width: 400px;
    background-color: rgb(243, 203, 238);
    border: 2px solid black;
    border-radius: 10px;
}

.wigt p{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 2rem;
}
